body {
    margin: 20px;
}

input[type="file"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0;
    width: 0.1px;
    height: 0.1px;
    color: red;
}

input[type="file"]:focus + label[for="files"] {
    border: 1px solid #85E5FF;
}

label[for="files"] {
    background: #FF7B47;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label[for="files"]:hover {
    background: #FF9E59;
}


strong {
    margin-bottom: 20px;
    display: block;
}

button {
    margin-top: 100px;
    display: block;
    border: none;
    background: none;
    font-size: 16px;
    background: rgb(80, 108, 116);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

button:hover {
    background: rgb(64, 87, 94);
    cursor: pointer;
}

span.err {
    padding: 20px;
    color: #fff;
    background: rgb(117, 34, 41);
    margin-top: 20px;
    font-family: sans-serif;
    display: block;
    border-radius: 4px;
}